extends base.pug

block scripts 

block style
    style 
        include ../static/base.css
        include ../static/about.css

block content
    section#flottingpart
        section#title 
            h1 ABOUT ME
            p KNOW ABOUT ME
        hr
        section#bodypart
            p I am a strong engineering professional with a Bachelor of Technology - BTech focused in Computer Science from NIIT University. I was born with a crayon in hand. Writing on walls, desks, tables, and sometimes paper, and now digitally writing programs on a computer screen, I have been honing my abilities since I was an infant.

            p Before college, I begged my parents to buy me a computer. But they said it was too expensive. So I made a deal with them and worked hard all summer to save up the money to buy one. 

            p When I did, I spent the next month figuring out how to use Computer and write Programs on it (I may or may not have fallen asleep in school a time or two because I stayed up too late the night before learning to use programming.)

            p Once I learned how to write Programs, I started making Apps, Websites, Chrome Extensions, etc. I was able to use these projects to land my first local job. 

            

        

            p I love creating beautiful, functional websites that provide an excellent user experience. I specialize in front-end development and have extensive knowledge of HTML, CSS, JavaScript, and other related technologies. I enjoy experimenting with new tools and frameworks to create innovative and responsive designs.

             

            p I also have experience working with back-end technologies such as PHP, Node.js, and databases like MySQL and MongoDB. My experiences include HTML, CSS, JavaScript, Python, Dart, NodeJs, MongoDB, Flutter, and ReactJs. I'm comfortable working with popular CMS platforms like WordPress, Joomla, and Drupal.

            p Apart from technical skills, I'm a great team player, and I understand the importance of effective communication, collaboration, and timely project delivery. I always strive to improve my skills and stay updated with the latest industry trends.

            p In my free time, I enjoy attending tech meetups, hackathons, and contributing to open-source projects. I'm also an avid gamer and enjoy playing online games in my free time.

            p I would love to chat with you about any technical internships or freelance opportunities you have available! The best way to reach me is by:
            a(href="mailto: bhawna.garg20@st.niituniversity.in") bhawna.garg20@st.niituniversity.in. 

