extends base.pug

block scripts 

block style
    style 
        include ../static/base.css
        include ../static/about.css

block content
    section#flottingpart
        section#title 
            h1 ABOUT ME
            p KNOW ABOUT ME
        hr
        section#bodypart
            p I am an enthusiastic and dedicated undergraduate with a passion for crafting innovative software solutions. Eager to embark on a journey in the world of technology, I am excited to apply for the Software Developer Engineer position. My academic foundation in this field coupled with my hands-on experience in various coding projects equips me with the skills and determination to excel in a dynamic and collaborative software development environment.

            p Driven by an insatiable curiosity, I constantly seek opportunities to expand my knowledge and explore new technologies. Throughout my academic journey, I have honed my problem-solving abilities, algorithmic thinking, and software design skills. These skills were put into practice during my involvement in various Projects, where I collaborated with a multidisciplinary team to create the best possible results.

            p My proficiency in languages such as Python, C++, Java enables me to translate concepts into functional code. I am particularly drawn to the intersection of creativity and functionality, always aiming to create software that not only meets technical requirements but also offers an exceptional user experience.

            p What sets me apart is my drive to learn from challenges and adapt quickly. I thrive under pressure, leveraging setbacks as opportunities for growth. With a strong foundation in software engineering principles and an ever-evolving skill set, I am poised to contribute to your team's success while continuously evolving alongside the rapidly changing tech landscape.

            p Joining your team as a Software Developer Engineer would allow me to combine my academic achievements, passion for coding, and collaborative spirit to contribute to meaningful projects that make a difference. I am excited about the prospect of learning from experienced professionals and applying my skills to create impactful software solutions. Thank you for considering my application—I am eager to bring my dedication, technical prowess, and fresh perspective to your dynamic team.
            
            a(href="mailto: bhawna.garg20@st.niituniversity.in") bhawna.garg20@st.niituniversity.in. 

