extends base.pug

block scripts 

block style
    style 
        include ../static/base.css
        include ../static/certificates.css

block content
    section#flottingpart
        section#title 
            h1 CERTIFICATES
            p THESE ARE SOME OF MY PROJECTS. HAVE A LOOK AT THEM:- 
        hr
        section.projects#project-6
                h1.nameProj MACHINE LEARNING, DATA SCIENCE AND GENERATIVE AI WITH PYTHON - UDEMY
                h1.date AUGUST 26, 2023
                section.imagedesc 
                    a(href="https://drive.google.com/file/d/1798sG6eYJH77YnSAXDtMw3cSaH2sSWX0/view?usp=sharing")
                        img(src="../static/images/webD-cert.png")
                    section.desc 
                        p This certifcate is the certificate of Completion issued by Udemy for the completion of their course on Machine Learning, Data Science and Generative AI - in Python. The certificate is only issued when the student completes 100% of the course syllabus. This certificate typically indicates that the individual has successfully completed the course that highlights completion of various practical assignments and projects to reinforce theoretical concepts, Proficiency in using Python libraries such as NumPy, pandas, scikit-learn, Matplotlib, and TensorFlow and an in-depth knowledge of machine learning algorithms and their real-world applications.

        section.projects#project-1
            h1.nameProj INTRODUCTION TO PROGRAMMING USING PYTHON - MTA
            h1.date MARCH 26, 2021
            section.imagedesc 
                a(href="https://drive.google.com/file/d/1AaInDaptEQgJ62Dhl2cvALXGcie3cVhG/view?usp=sharing")
                    img(src="../static/images/mta1.png")
                section.desc 
                    p This certificate is issued by Microsoft Technology Associates (MTA) for Introduction to programming using python. For availing this certificate, a test conducted by Microsoft itself has to be cleared. The certificate is only issued if the score is above 70% of the total score. 
        section#project-2.projects
            h1.nameProj SQL Basic- Hacker Rank
            h1.date AUGUST 24, 2023
            section.imagedesc
                a(href="https://drive.google.com/file/d/1zpsJZllmTkmb_b6ub32AdPAgHkfFUU3A/view?usp=sharing") 
                    img(src="../static/images/cn2.png")
                section.desc 
                    p The "SQL Basic" certificate program offered by HackerRank provides a comprehensive introduction to the fundamental concepts of Structured Query Language SQL. It highlights that throughout this course, the participant gained a strong foundation in working with databases, querying data, and managing information using SQL. It aslo highlights the candidate's proficiency in writing SQL queries to retrieve and manipulate data, understanding of key SQL clauses, functions, and operators, ability to design simple databases and optimize data storage and practical skills applicable to real-world data management tasks.
        section#project-3.projects
            h1.nameProj ARTIFICIAL INTELLIGENCE WITH PYTHON- INMOVIDU
            h1.date MARCH 6, 2021
            section.imagedesc
                a(href= "https://drive.google.com/file/d/1JnN01JCaJkTDsUyaca4OBX7fg_TfP0Kr/view?usp=sharing") 
                    img(src="../static/images/in5.png")
                section.desc 
                    p The certificate of participation for a training program in artificial intelligence with Python, issued by Inmovidu, indicates that the recipient has participated in a program that covers the fundamentals of artificial intelligence and machine learning, with a focus on using the Python programming language to build and train models. It signifies that the recipient has completed the coursework and actively engaged in the learning process. The certificate acknowledges the recipient's effort and commitment to expanding their knowledge and skills in the field of AI with Python. 
        section#project-4.projects
            h1.nameProj JAVA BASIC- HACKER RANK
            h1.date AUGUST 24, 2023
            section.imagedesc
                a(href= "https://drive.google.com/file/d/1FyInumVbSuOKDDVDoeK-LamdB2mi_3Qx/view?usp=sharing") 
                    img(src="../static/images/cn4.png")
                section.desc 
                    p The "Java Basic" certificate program offered by HackerRank provided a comprehensive introduction to the fundamental concepts of the Java programming language. It certifies that throughout this course, the participant gained a solid foundation in Java programming, covering key syntax, concepts, and practical applications. This certificate highlights the successful completion of coding challenges and assessments to reinforce theoretical concepts, proficiency in writing Java programs to solve various computational problems, understanding of key Java concepts and OOP principles and practical skills applicable to entry-level Java programming roles.

        section#project-5.projects
            h1.nameProj PROBLEM SOLVING- HACKER RANK
            h1.date AUGUST 24, 2023
            section.imagedesc
                a(href= "https://drive.google.com/file/d/1g5M6bW-ayuYly4Wnf-ADBqWRobHj8kU6/view?usp=sharing") 
                    img(src="../static/images/tp3.png")
                section.desc 
                    p The "Problem Solving Basic" certificate program offered by HackerRank provided a comprehensive introduction to the essential skills and strategies required for effective problem-solving in a computational context. This certificate highlights that throughout this course, the participant gained valuable insights into problem-solving techniques and practices. This certificate also highlights the successful completion of coding challenges and assessments to reinforce problem-solving techniques, proficiency in analyzing problems, designing algorithms, and implementing solutions, understanding of core data structures and their applications and the ability to write clean and efficient code to solve computational problems.
